

.produtos1{
  font-size: 1.2rem;
  text-align: center;
  max-width: 100%;
}

.produtos-cards1{
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.produtos-card1{
    width: 20%;
    background-color: white;
    margin: 15px;
    display: inline-block;
    box-sizing: border-box;
    height: auto;
    transition: all 0.2s ease-in;
}

.produtos-cartaz1{
  width: 100%;
  text-align: center;
  margin: auto;
  height: auto;
}

.produtos1 h2{
  padding-top: 1rem;
  color: black;
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;  font-weight: 500;
}

.produtos-card1 h2{
  color: black;
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;  font-weight: 400;
  background-color: #42413c00;
  transition: all 0.2s ease-in;
}
.produtos-carrossel{
  display: none;
}


@media screen and (max-width: 1580px) {
  .produtos-cards{
    display: none;
  }
  .produtos-carrossel{
    text-align: center;
    display: block;
  }
  #img-produtos{
    width: 40%;
    background-color: white;
    margin: 15px;
    padding: 10px;
    display: inline-block;
    box-sizing: border-box;
    height: auto;
 }
}